export(chronosCI, drawChronosCI)

importFrom(ape, .PlotPhyloEnv, branching.times, chronos, drop.tip, makeNodeLabel, Nedge.phylo, Ntip, nodelabels, root)
importFrom(phangorn, bootstrap.pml, pml.control)
importFrom(graphics, legend, rect, yinch)
importFrom(grDevices, colorRampPalette, dev.cur, devAskNewPage,
           deviceIsInteractive, rainbow, rgb)
importFrom(stats, bw.nrd0, density, quantile, rpois, runif, qbeta, qlogis)

